.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.option_item {
  position: relative;
}

.option_item_lang {
  margin-left: 20px;
}
