.contact {
  padding-top: 139px;
  padding-bottom: 70px;

  @media all and (max-width: 1440px) {
    padding-bottom: 15px;
  }

  @media all and (max-width: 1080px) {
    padding-top: 103px;
    padding-bottom: 40px;
  }

  @media all and (max-width: 800px) {
    padding-top: 78px;
  }

  @media all and (max-width: 485px) {
    padding-top: 52px;
    padding-bottom: 20px;
  }

  &__inner {
    padding-top: 71px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;

    @media all and (max-width: 1440px) {
      padding-top: 58px;
      grid-template-columns: 1fr;
    }

    @media all and (max-width: 1080px) {
      padding-top: 40px;
    }

    @media all and (max-width: 675px) {
      display: block;
      padding-top: 0;
      padding: 20px;
    }
  }

  &__text {
    margin: 0;
    max-width: 500px;
    font-family: var(--font-lead);
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #f2f2f2;
    opacity: 0.7;

    @media all and (max-width: 1080px) {
      font-size: 22px;
      line-height: 28px;
    }

    @media all and (max-width: 800px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__text:nth-child(2) {
    margin-bottom: 88px;

    @media all and (max-width: 1440px) {
      margin-bottom: 102px;
    }

    @media all and (max-width: 1080px) {
      margin-bottom: 90px;
    }

    @media all and (max-width: 800px) {
      font-size: 18px;
    }

    @media all and (max-width: 675px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 67px;
    max-width: 330px;
    position: relative;

    @media all and (max-width: 1440px) {
      margin-bottom: 59px;
    }

    @media all and (max-width: 1080px) {
      margin-bottom: 33px;
    }

    &__text {
      font-family: var(--font-lead);
      font-weight: 600;
      font-size: 24px;
      color: #ffffff;
      opacity: 0.7;

      @media all and (max-width: 1080px) {
        font-size: 22px;
      }
    }

    &__arrow {
      position: absolute;
      top: 65px;
      left: 2px;
      width: auto;
      height: auto;
      background-size: cover;
      background-repeat: no-repeat;

      @media all and (max-width: 1080px) {
        top: 35px;
      }

      @media all and (max-width: 800px) {
        top: 35px;
      }
    }

    &__border {
      margin-top: 17px;
      display: block;
      margin-top: 50px;
      height: 2px;
      background: linear-gradient(
        89.99deg,
        #00d1ff 0%,
        rgba(255, 34, 141, 0) 100%
      );

      @media all and (max-width: 1080px) {
        margin-top: 9px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @media all and (max-width: 675px) {
      margin-top: 40px;
    }

    &__label {
      display: block;
      margin-bottom: 34px;

      @media all and (max-width: 1080px) {
        margin-bottom: 26px;
      }

      &:nth-child(4) {
        margin-bottom: 51px;

        @media all and (max-width: 1080px) {
          margin-bottom: 35px;
        }
      }

      &__text {
        display: block;
        margin-bottom: 8px;
        font-family: var(--font-lead);
        font-weight: 600;
        font-size: 20px;
        color: #f2f2f2;
        opacity: 0.7;

        @media all and (max-width: 1080px) {
          font-size: 18px;
          font-weight: 500;
        }

        @media all and (max-width: 675px) {
          font-size: 16px;
        }
      }

      &__input {
        font-family: var(--font-lead);
        font-weight: 400;
        font-size: 22px;
        padding-top: 6px;
        padding-left: 22px;
        width: 100%;
        height: 76px;
        border: 2px solid rgba(255, 255, 255, 0.15);
        border-radius: 4px;
        background-color: transparent;
        color: #fff;
        opacity: 0.7;

        @media all and (max-width: 1080px) {
          height: 58px;
          padding-left: 11px;
        }

        @media all and (max-width: 675px) {
          height: 50px;
        }

        &::placeholder {
          font-family: var(--font-lead);
          font-weight: 400;
          font-size: 22px;
          color: #b7bfd1;
          opacity: 0.7;

          @media all and (max-width: 1080px) {
            font-size: 20px;
          }

          @media all and (max-width: 675px) {
            font-size: 16px;
          }
        }
      }
    }

    &__btn {
      width: 100%;
      min-height: 57px;
      margin: 0;
      margin-bottom: 43px;
      padding: 0;
      padding: 16px 36px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      border: none;
      font-family: var(--font-lead);
      font-weight: 600;
      font-size: 22px;
      background: radial-gradient(
        142.65% 2282.99% at 100% -31.65%,
        #00c9fc 0%,
        #1a46ef 56.36%
      );
      border-radius: 4px;
      color: #f2f2f2;

      @media all and (max-width: 675px) {
        font-size: 16px;
      }

      &:hover {
        background: radial-gradient(
          142.65% 2282.99% at 100% -31.65%,
          #08a6ce 0%,
          #6352b1 43.75%,
          #8b0eb7 68.75%
        );
      }

      &:disabled {
        cursor: auto;
        opacity: 0.5;
        background: radial-gradient(
          142.65% 2282.99% at 100% -31.65%,
          #00c9fc 0%,
          #1a46ef 56.36%
        );
      }
    }
  }

  &__checkbox {
    position: relative;
    cursor: pointer;
    display: flex;

    &__text {
      user-select: none;
      font-family: var(--font-lead);
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      color: #b7bfd1;
      opacity: 0.7;

      @media all and (max-width: 800px) {
        font-size: 14px;
      }
    }

    &__input {
      position: absolute;
      opacity: 0;
    }

    &__span {
      margin-right: 12px;
    }

    &__input + &__span::before {
      content: "";
      display: inline-block;
      margin-right: 5px;
      border: 2px solid #0caed5;
      border-radius: 4px;
      width: 24px;
      height: 24px;
    }

    &__input:checked + &__span::before {
      background-image: url("../../../public/images/checked.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      border-color: transparent;
      animation: pop 180ms ease-in;
    }

    &__input:focus + &__span::before {
      outline: 2px;
    }

    &__link {
      color: #0caed5;
    }
  }

  @keyframes pop {
    0% {
      transform: scale(0);
    }
    90% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
}
